.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar, .avatar-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height:  32px;
  border-radius: 50%;
  font-weight: 500;
}

label {
  text-transform: capitalize;
}
.avatar {
  font-size: .9rem;
}
.avatar-lg {
  width: 48px;
  height:  48px;
}

.avatar::before, .avatar-lg::before {
  content: attr(data-name);

}

.row-gap {
  row-gap: 2rem;
}
.custom-wrap {
  text-wrap:balance;
}
.nav-link {
  border-bottom: solid 3px transparent;
}
.nav-link.active {
  border-bottom-color:  green;
}